*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 80px;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px;
}

.title {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.title:not(h3) {
  background-color: black;
}

/* :not( :is(#id, .clase, .clase#id, ::after) ) {
  background-color: #000;
} */

/* .wrapper h2,
.wrapper h3,
.wrapper h4 {
  color: red;
} */

/* :where y :is funcionan similar. Where no tiene especifidad dentro */

.wrapper :is(h2, h3, h4, h5, span) {
  color: seagreen;
}

.wrapper :where(h1, h2, h3, h4) {
  color: red;
}

.title:is(:hover, :active) {
  transform: scale(1.2);
}

input:not([type="submit"]) {

}

/* Placeholder-shown*/

.form {
  width: max-content;
  margin: 0 auto;
}

.label {
  display: grid;
  grid-template-areas: "input";
}

.label__name {
  grid-area: input;
  width: max-content;
  z-index: 100;
  margin-left: 1rem;
  padding: 0 .5rem;
  align-self: center;
  transition:  transform .2s;
  transform-origin: cener left;
  height: 100%;
  display: flex;
  align-items: center;
}

.input {
  grid-area: input;
  width: 300px;
  font: inherit;
  border-radius: 10px;
  border: 1px solid gray;
  padding: .7rem 1.5rem;
}

/* .input:not([id]) {
  margin: 80px 0;
  border: 3px solid seagreen;
}

.input:placeholder-shown {
  border: 3px solid red;
}

.input + div::after {
  content: "Ya escribiste algo";
}

.input:placeholder-shown + div::after {
  content: "No has escrito nada";
} */

/* .input:focus + .label__name,
.input:not(:placeholder-shown) + .label__name {
  transform: translateY(-50%) scale(.7);
  background-color: white;
} */


/* :where o :is*/
.input:where(:focus, :not(:placeholder-shown)) + .label__name {
  transform: translateY(-50%) scale(.7);
  background-color: white;
}
/* 
.input:not(:placeholder-shown) {
  background-color: red;
} */